@media screen and (max-Width:767px){
.content {

    padding: 30px 8px 64px 8px;

}
.documentList-card row{
	display: block;
}
.D_card {
    max-width: 100%;
}
/* ================================================menu */






/* ================================================menu */

	
}