body {
 
  transition: background-color 0.50s ease 0s;
}
 /* switch on background colour */
.skin-green {
  background: #000;
}

#switch-container {
 width: 58px;
    height: 22px;
  margin-right: auto;
  margin-left: auto;
  border: none;
  /* default (off) button color */
  background: #2C3E50;
  /* set up background animation */
  transition: background-color 0.50s ease 0s;
      border: 1px solid #bababa;
}

#switch {
height: 20px;
    width: 31px;
    border: none;
    outline: none;
    font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #ECF0F1;

  /* Set up the animation properties */
   transition: transform 0.25s linear 0s,
      background 0.25s ease 0s,
    border-radius 0.25s ease 0s,
    box-shadow 0.25s ease 0s;
}

.switch-off {
  transform: translateX(0px);
background: #FF4961;
  border-radius: 0 50% 50% 0;
  box-shadow: 7px 0px 8px -4px rgba(0,0,0,0.54);
}

.switch-on {
transform: translateX(24px);
  background: #96CA2D;
  border-radius: 50% 0 0 50%;
  box-shadow: -7px 0px 8px -4px rgba(0,0,0,0.54);
}

/* background colour for on */
#switch-container.background-on {
  background: #2980B9;
}
/* ========================================================================switch  */
.skin-green .box{
	    background: #2d3035 !important;
	    color: #8a8d93 !important;
}
.skin-green .main-header{
	  background: #2d3035 !important;
}
.skin-green .user-profile{
background: #2d3035	
}
.skin-green .sidebar-menu>li.user-profile>a{
    color: #fff !important;	
}
.skin-green .sidebar-menu>li>a>.fa, .skin-green .sidebar-menu>li>a>.glyphicon, .skin-green .sidebar-menu>li>a>.ion {
    color: #fff;
}

.skin-green .navbar.navbar-static-top div h1{
	    color: #28d094 !important;
} 
.skin-green.sidebar-collapse .sidebar-menu>li:hover>a{
  background-color: #2d3035 !important;
}

.skin-green .dropdown.user.user-menu .dropdown-toggle, .skin-green .nav.navbar-nav li a{
	    color: #fff !important;
}
.skin-green .box .box-header h3{
color: #8a8d93 !important;	
}
.skin-green table thead th{
	color: #8a8d93 !important;
}
.skin-green table tbody td{
	color: #8a8d93 !important;
}
.skin-green .select2-container--default .select2-selection--single{
	    background-color: #2d3035 !important;
}
.skin-green .select2-container--default .select2-selection--single .select2-selection__rendered{
	     color: #8a8d93 !important;
}
.skin-green select{
	    color: #fff !important;
}
.skin-green select.form-control, .skin-green .form-control{
	background: #2d3035 !important;
	color: #8a8d93 !important;
	    border-color: #444951;
}

.skin-green .form-control{
	background-color: #fff;
}
.skin-green .select2-container--default .select2-selection--single, .select2-selection .select2-selection--single{
	    border: 1px solid #444951;
}
.skin-green aside.main-sidebar {
    background: #2d3035 !important;
}
.skin-green .skin-green .sidebar-menu .treeview a:hover{
	    color: #000 !important;
    background: #fff !important;
}
.skin-green .pagination li a{
	background-color: #2d3035 !important;
    color: #8a8d93 !important;
        border: 1px solid #444951 !important;
}
.skin-green .paging_simple_numbers .pagination .paginate_button {
	    background: #2d3035;
}
.skin-green section.content{
	    background: #22252a !important;
}
.skin-green .wrapper {
    background: #2d3035 !important;
}
.skin-green .content-header{
	    background: #2d3035 !important;
}
.skin-green .content-header h1{
	color: #8a8d93;
}
.skin-green .bg-main{
display: none;
}
.skin-green .content-wrapper{
	    background-color: #22252a !important;
}
.skin-green .main-footer{
	background: #2d3035;
    color: #8a8d93;
    border-top: 1px solid #2d3035;
}
.skin-green .main-footer ul li a{
	    color: #848dfc !important;
}
.skin-green .table-hover tbody tr:hover{
	    background-color: #393939 !important;
}
.skin-green .dropdown-menu{
	    background-color: #727272 !important;
	        color: #fff !important;
}
.skin-green li.user-header{
	background: #0000 !important;
}
.skin-green .sidebar-menu > li > .treeview-menu{
	    background: #22252a !important;
} 
.skin-green .sidebar-menu .treeview-menu > li > a{
	color: #a0a0a0 !important;
} 
.skin-green .select2-dropdown{
	    background-color: #454545;
	    color: #b8b8b8;
}
.skin-green .select2-search__field{
	background: #000;
    color: #fff;
}
.skin-green .sidebar-menu>li:hover>a, .skin-purple-light .sidebar-menu>li.active>a{
	background: #34373d !important;
	    color: #bfc1c4 !important;
}
.skin-green .sidebar-menu > li.menu-open > a{
		background: #34373d !important;
}
.skin-green .table-bordered, .skin-green .table-bordered>tbody>tr>td, .skin-green .table-bordered>tbody>tr>th, .skin-green .table-bordered>tfoot>tr>td, .skin-green .table-bordered>tfoot>tr>th, .skin-green .table-bordered>thead>tr>td, .skin-green .table-bordered>thead>tr>th{
	    border: 1px solid #444951;
}
.skin-green .custom-file-label{
	    background-color: #2d3035;
    border: 1px solid #444951;
}
.skin-green label{
	color: #8a8d93 !important;
}
.skin-green [type=radio]:disabled:not(:checked)+label:before{
	    border-color: #8a8d93 !important;
}
.skin-green .nav-tabs{
	border-bottom: 1px solid #444951;
}
.skin-green .nav-tabs .nav-link{
	    border: 1px solid #444951;
}
.skin-green .navbar-nav>.user-menu>.dropdown-menu>.user-body{
	    border-bottom: 1px solid #8f8f8f;
    border-top: 1px solid #8f8f8f;
}
.skin-green table thead{
	background: #33383f;
}
.skin-green .dropdown-divider{
border: 1px solid #444951;
}
.skin-green .tabcontent-border{
border: 1px solid #444951;	
}
.skin-green #tab-heading{
	background: #33383f;
	    border-bottom: 1px dashed #444951;	
}
.skin-green .nav-link:focus, .skin-green .nav-link:hover {
    background-color: #22252a;
}
.skin-green .control-sidebar-light, .skin-green .control-sidebar-light+.control-sidebar-bg{
background: #2d3035;
    border-left: 1px solid #626262;
    box-shadow: 0px 0px 17px 0px #000;
}
.skin-green .control-sidebar-light .control-sidebar-heading, .skin-green .control-sidebar-light .control-sidebar-subheading{
	color: #8a8d93 !important;
	font-weight: 600;
}
.skin-green span.Desktop-screen_icon, .skin-green span.mobile-screen_icon{
	color: #fff;
}
.skin-green .theme_color_screen{
    color: #fff;
}
.skin-green .dataTables_wrapper {
    background: #212429;
        border: 1px solid #414141;
}
.skin-green .table-bordered, .skin-green .table-bordered>tbody>tr>td, .skin-green .table-bordered>tbody>tr>th, .skin-green .table-bordered>tfoot>tr>td, .skin-green .table-bordered>tfoot>tr>th, .skin-green .table-bordered>thead>tr>td, .skin-green .table-bordered>thead>tr>th{
	background: #2d3035;
}
.skin-green .gj-datepicker .form-control{
	    border: 1px solid #444951;
}
.skin-green .gj-datepicker-md [role=right-icon]{
	color: #8a8d93;
	    background: #2d303500;
}
.skin-green .table-bordered, .skin-green .table-bordered>tbody>tr>td, .skin-green .table-bordered>tfoot>tr>td, .skin-green .table-bordered>thead>tr>td{
	    border: 1px solid #444951 !important;
}
.skin-green .breadcrumb-item {
    color: #8a8d93 !important;

}
.skin-green .content-header>.breadcrumb>li>a, .skin-green .content-header>.container>.breadcrumb>li>a{
	 color: #8a8d93 !important;
}
.skin-green .breadcrumb-item+.breadcrumb-item::before {
 color: #8a8d93 !important;
}
